:root {
  --font-arial: Arial, Helvetica, sans-serif;
  --font-trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  --font-size-small: 0.9rem;
  --center: center;
  --color-background-body: #ebebeb;
  --color-background-scrollbar-thumb: #505050;
  --color-background-white: #ffffff;
  --box-shadow: #acacac;
  --color-border: #c2c2c2;
  --color-background-black: #000000;
  --color-button: #fafafa;
  --color-button-focus: #ffc700;
  --orange: #ff7d27;
  --green: #008000;
  --red: #e71111;
}

body {
  width: 530px;
  margin: 0;
  font-family: var(--font-arial);
  background: var(--color-background-body);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--color-background-scrollbar-thumb);
}

header {
  border-top: 10px solid var(--orange);
}

.contentLogo {
  width: 400px;
  font-size: 2rem;
  padding: 1.2rem;
  text-align: var(--center);
  margin: 10px auto;
  font-weight: 700;
  font-style: italic;
  font-family: var(--font-trebuchet);
}

.contentChecker {
  width: 60%;
  margin: auto;
  text-align: var(--center);
  font-size: var(--font-size-small);
}

.inputs {
  background: var(--color-background-white);
  display: flex;
  padding: 0.7rem;
  margin: 15px auto;
  flex-direction: column;
  box-shadow: 7px 7px 0 var(--box-shadow);
  border-radius: 10px;
  border: 1px solid var(--color-border);
}

p {
  font-size: 1rem;
}

input,
button {
  padding: 0.4rem;
  margin: 10px;
  text-align: var(--center);
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid var(--color-border);
  outline: none;
}

input:focus {
  border: 1px solid var(--orange);
}

button {
  width: 90%;
  padding: 0.4rem;
  outline: none;
  background: var(--color-background-black);
  color: var(--color-button);
  transition: 0.1s;
  border: none;
  margin: auto;
  border-radius: 5px;
  font-size: var(--font-size-small);
}

button:active {
  background: var(--orange);
}

button:focus {
  outline: 1px solid var(--color-button-focus);
}

.contentResult {
  display: flex;
  padding: 1.1rem;
  font-size: var(--font-size-small);
  text-align: var(--center);
}

h2 {
  margin-top: 0;
  font-size: 1.3rem;
}

li {
  list-style: none;
  background: var(--color-background-white);
  margin: 0 7px 0 7px;
  padding: 0.7rem;
  box-shadow: 7px 7px 0 var(--box-shadow);
  border-radius: 10px;
  border: 1px solid var(--color-border);
}

.green,
.red {
  margin: 0;
  margin: 20px 0 0 0;
  font-size: 1.2rem;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.pInfo {
  width: 60%;
  margin: auto;
  padding: 15px;
  text-align: var(--center);
  font-size: var(--font-size-small);
}

footer {
  text-align: var(--center);
  font-size: var(--font-size-small);
  padding: 1rem;
  color: var(--color-background-black);
  font-weight: bold;
  font-style: italic;
  background: var(--orange);
}
