:root {
  --orange: #ff7d27;
  --font-arial: Arial, Helvetica, sans-serif;
  --font-trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  --font-size-small: 0.9rem;
  --text-align-center: center;
}

body {
  width: 500px;
  margin: 0;
  font-family: var(--font-arial);
  background: #ebebeb;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #505050;
}

header {
  border-top: 10px solid var(--orange);
}

.contentLogo {
  width: 400px;
  font-size: 1.8rem;
  padding: 1.2rem;
  text-align: var(--text-align-center);
  margin: 10px auto;
  font-weight: 700;
  font-style: italic;
  font-family: var(--font-trebuchet);
}

.contentChecker {
  width: 60%;
  margin: auto;
  text-align: var(--text-align-center);
  font-size: var(--font-size-small);
}

.inputs {
  background: white;
  display: flex;
  padding: 0.7rem;
  margin: 15px auto;
  flex-direction: column;
  box-shadow: 0 5px 15px #acacac;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
}

p {
  font-size: 1rem;
}

input,
button {
  padding: 0.4rem;
  margin: 10px;
  text-align: var(--text-align-center);
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  outline: none;
}

input:focus {
  border: 1px solid var(--orange);
}

button {
  width: 90%;
  padding: 0.4rem;
  outline: none;
  background: #000000;
  color: #fafafa;
  transition: all 0.1s;
  border: none;
  margin: auto;
  border-radius: 5px;
  font-size: var(--font-size-small);
}

button:active {
  background: var(--orange);
}

button:focus {
  outline: 1px solid #ffc700;
}

.contentResult {
  display: flex;
  padding: 1rem;
  font-size: var(--font-size-small);
  text-align: var(--text-align-center);
}

h2 {
  margin-top: 0;
  font-size: 1.3rem;
}

li {
  list-style: none;
  background: white;
  margin: 5px;
  padding: 0.7rem;
  box-shadow: 0 5px 15px #acacac;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
}

.green,
.red {
  margin: 0;
  margin: 20px 0 0 0;
  font-size: 1.2rem;
}

.green {
  color: green;
}

.red {
  color: #e71111;
}

.pInfo {
  width: 60%;
  margin: auto;
  padding: 15px;
  text-align: var(--text-align-center);
  font-size: var(--font-size-small);
}

footer {
  text-align: var(--text-align-center);
  font-size: var(--font-size-small);
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  font-style: italic;
  background: var(--orange);
}
